//hero é um banner; é a área que mostra imediatamente as imagens/informações abaixo do seu logo e menu
.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
}